/*.is-loading-cover{*/
    /*display: block;*/
    /*position: absolute;*/
    /*background-color: rgba(99,99,99,0.6);*/
    /*z-index: 1;*/
    /*width: 100%;*/
    /*height: 85%;        *//*TODO: maybe change to 100% later...*/
/*}*/
/*.is-loading-cover .loader-gif{*/
    /*margin-top: 150px;*/
    /*width: 10%;*/
    /*height: auto;*/
/*}*/

/*Override BS3's vertical-align: */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
/*Make the other columns add up to 12*/
.btn-column{
    max-width: 55px;
}
.margin-top-md{
     margin-top: 25px;
}
.margin-top-sm{
    margin-top: 20px;
}
/*On hover over element with this class, cursor changes
to indicate that element is click-able*/
.hand-on-hover:hover {
    cursor: pointer;
    cursor: hand;
}
.border-on-hover:hover{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid rgba(213,190,96,0.5);

}