<!--Contacts list/table partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.body {*/
    /*background: rgba(213,190,96,0.2);*/
    /*}*/
    .border-on-hover:hover{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 5px solid rgba(213,190,96,0.5);

    }
    .selected-row-border{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 5px solid rgba(213,190,96,0.5);
    }
</style>

<section class="body">

     <table ng-table="addExistingRelationTableCtrl.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive"
           ng-disabled="addExistingRelationTableCtrl.selectedContact"> <!-- TODO: this simply doesn't work, make it work or remove -->
        <tr ng-repeat="contact in $data"
            ng-click="addExistingRelationTableCtrl.handleRowSelected(contact._id)"
            class="border-on-hover hand-on-hover"
            ng-class="{'selected-row-border': contact._id === addExistingRelationTableCtrl.selectedContact,
                       'border-on-hover': !addExistingRelationTableCtrl.selectedContact}">
            <td data-title="'Id'"
                sortable="'id'"
                filter="{ 'id': 'text' }"
                class="col-sm-2">
                {{contact.id}}</td>
            <td data-title="'Name'"
                sortable="'name'"
                filter="{ 'name': 'text' }"
                class="col-sm-8">
                {{contact.name}}</td>
            <td data-title="'Born'"
                sortable="'birthDate'"
                filter="{ 'birthDate': 'text' }"
                class="col-sm-2">
                {{contact.birthDate}}</td>
        </tr>
    </table>
</section>
