<!--Contacts list/table partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.body {*/
    /*background: rgba(213,190,96,0.2);*/
    /*}*/
    .selected-row-border{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 6px solid rgba(213,190,96,0.6);
    }
    .already-related{
        background-color: rgb(235, 235, 228);
        color: rgb(163, 153, 153);
    }
</style>

<section class="body">

     <table ng-table="addExistingRelationTableCtrl.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive">
        <tr ng-repeat="contact in $data"
            ng-click="addExistingRelationTableCtrl.handleRowSelected(contact)"
            class="hand-on-hover"
            ng-class="{'selected-row-border': contact._id === addExistingRelationTableCtrl.selectedContact._id,
                       'border-on-hover': !(contact._id === addExistingRelationTableCtrl.selectedContact._id) && !addExistingRelationTableCtrl.isAlreadyRelated(contact)}">
            <td data-title="'Id'"
                sortable="'id'"
                filter="{ 'id': 'text' }"
                class="col-sm-2"
                ng-class="{'already-related': addExistingRelationTableCtrl.isAlreadyRelated(contact)}">
                {{contact.id}}</td>
            <td data-title="'Name'"
                sortable="'name'"
                filter="{ 'name': 'text' }"
                class="col-sm-8"
                ng-class="{'already-related': addExistingRelationTableCtrl.isAlreadyRelated(contact)}">
                {{contact.name}}</td>
            <td data-title="'Born'"
                sortable="'birthDate'"
                filter="{ 'birthDate': 'text' }"
                class="col-sm-2"
                ng-class="{'already-related': addExistingRelationTableCtrl.isAlreadyRelated(contact)}">
                {{contact.birthDate}}</td>
        </tr>
    </table>
</section>
