<link rel="stylesheet" href="../main.css" xmlns="http://www.w3.org/1999/html">
<style>

</style>

<section class="container">

    <form class="form-horizontal margin-top-sm" role="form">
        <fieldset class="container">
            <div class="row col-xs-12">
                <label class="col-xs-1"></label>
                <label class="col-xs-10"><h4>Choose one contact from table and specify its relation to this patient</h4></label>
                <label class="col-xs-1"></label>
            </div>

            <add-existing-relation-table
                    view="contacts"
                    rows="{{4}}"
                    selected-contact="addExistingRelationCtrl.selectedContact"
                    specified-relation="addExistingRelationCtrl.specifiedRelation">
            </add-existing-relation-table>

            <div class="row col-xs-12">
                <label class="col-xs-2"></label>
                    <div class="col-xs-8 form-group">
                        <label class="col-xs-3 control-label">Relation</label>
                        <div class=" col-xs-9">
                            <input class="form-control" type="text" ng-model="addExistingRelationCtrl.specifiedRelation" placeholder="relation to patient"
                                   ng-disabled="!addExistingRelationCtrl.selectedContact" />
                        </div>
                    </div>
                <label class="col-xs-2"></label>
            </div>

            <div class="col-sm-12 margin-top-sm">
                <div class="form-group ">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class=" col-md-6 col-sm-8 buttons">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-3 col-xs-2 text-left">
                                    <button class="btn btn-primary"
                                            type="button"
                                            ng-click="addExistingRelationCtrl.handleCancel()">Cancel</button>
                                </div>

                                <div class="text-center col-sm-6 col-xs-8">
                                </div>

                                <div class="col-sm-3 col-xs-2 text-right">
                                    <button class="btn btn-default"
                                            type="button"
                                            ng-click="addExistingRelationCtrl.handleAddRelation()">Add Relation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-2"></div>
                </div>
            </div>
        </fieldset>
    </form>
</section>
