<!--Contacts list/table partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.body {*/
    /*background: rgba(213,190,96,0.2);*/
    /*}*/
</style>

<section class="body">

    <table ng-table="addExistingRelationTableController.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive">
        <tr ng-repeat="contact in $data"
            ng-class="{danger: contact._id == addExistingRelationTableController.dangerMarkedDocumentId}"
            ng-click="addExistingRelationTableController.handleTableRowClicked({data: contact})">
            <td data-title="'Id'"
                sortable="'id'"
                filter="{ 'id': 'text' }"
                class="col-sm-2">
                {{contact.id}}</td>
            <td data-title="'Name'"
                sortable="'name'"
                filter="{ 'name': 'text' }"
                class="col-sm-8">
                {{contact.name}}</td>
            <td data-title="'Born'"
                sortable="'birthDate'"
                filter="{ 'birthDate': 'text' }"
                class="col-sm-2">
                {{contact.birthDate}}</td>
            <td class="btn-column">
                <button class="btn btn-default"
                        ng-class="{'btn-danger': contact._id === addExistingRelationTableController.dangerMarkedDocumentId}"
                        ng-mouseenter="addExistingRelationTableController.handleHoverOverDeleteBtn(contact._id)"
                        ng-mouseleave="addExistingRelationTableController.handleHoverOverDeleteBtn(-1)"
                        ng-click="addExistingRelationTableController.handleDeleteClick(contact._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</section>
