<style>
    .modal-backdrop{
        bottom: 0;
        position: fixed;
    }
</style>
<div>
    <div class="modal-header">
        <h3 class="modal-title">Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete doctor <strong>{{confirmDeleteCtrl.doctorName}}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="confirmDeleteCtrl.handleDeleteClick()">Delete</button>
        <button class="btn btn-warning" ng-click="confirmDeleteCtrl.handleCancelClick()">Cancel</button>
    </div>
</div>