<!--Related Contacts list/table partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.bg-color-marked {*/
    /*background: rgba(213,190,96,0.2);*/
    /*}*/
</style>

<section class="bg-color-marked">

    <table ng-table="tableCtrl.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive hand-on-hover">
        <tr ng-repeat="contact in $data"
            class="hand-on-hover"
            ng-class="{danger: contact._id == tableCtrl.dangerMarkedDocumentId}"
            ng-click="tableCtrl.handleTableRowClicked({data: contact.contact})">
            <td data-title="'Id'"
                sortable="'id'"
                class="col-sm-2">
                {{contact.contact.id}}
            </td>
            <td data-title="'Relation'"
                sortable="'relation'"
                class="col-sm-2">
                {{contact.relation}}
            </td>
            <td data-title="'Name'"
                sortable="'name'"
                class="col-sm-8">
                {{contact.contact.name}}
            </td>
        </tr>
        </a>

        <!--<a href=""-->
        <!--ng-click="tabsCtrl.handleTabCloseClicked(tab)">-->
        <!--<i class="glyphicon glyphicon-remove-circle tab-icon"></i>-->
        <!--</a>-->

    </table>
</section>
