<!--Contact detail info partial-->

<link rel="stylesheet" href="../main.css" xmlns="http://www.w3.org/1999/html">
<style>
    input {
        border: 0px;
        width: 100%;
    }
    table {
        table-layout: fixed;
    }
    .div-table-content {
        height: 90px;
        overflow-y: auto;
    }
    .btn-column{
        width: 65px;
    }
    .horizontal-center {
        float: none;
        margin: 0 auto;
    }

    .photo-container{
        position: relative;
    }
    .photo{
        width: 150px;
        height: 150px;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 218px; left: 0; bottom: 0; right: 0;
    }

    /*.design-time-color1{*/
        /*background-color:lightgray;*/
    /*}*/
    .design-time-color2{
        background-color:gray;
    }
</style>

<section class="container">

    <form class="form-horizontal margin-top-md" role="form">
        <fieldset class="container">
            <div class="col-sm-4 personal-data">
                <div class="form-group" ng-show="contactCtrl.showRelation">
                    <label class=" col-sm-3 col-xs-12 control-label">Relation</label>
                    <div class=" col-sm-9">
                        <input class="form-control" type="text" ng-model="contactCtrl.contact.relation" placeholder="relation to patient" />
                    </div>
                </div>
                <div class="form-group">
                    <label class=" col-sm-3 col-xs-12 control-label">Id</label>
                    <div class=" col-sm-9">
                        <input class="form-control" type="text" ng-model="contactCtrl.contact.id" placeholder="contact id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class=" col-sm-3 col-xs-12 control-label">Born</label>
                    <div class="col-sm-9">
                        <date-picker context='birth' date="contactCtrl.contact.birthDate"></date-picker>
                    </div>
                </div>

                <div class="col-xs-12 center-block design-time-color1">
                    <div class="photo-container center-block design-time-color1">
                        <div class="photo design-time-color2"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 ">

                <div class="form-group">
                    <label class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-11" >
                        <input class="form-control" type="text" ng-model="contactCtrl.contact.name" placeholder="contact's full name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-1 control-label">Notes</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" type="text-area" ng-model="contactCtrl.contact.notes" placeholder="contact related notes"  rows="{{ contactCtrl.showRelation ? 3 : 3 }}"></textarea>
                    </div>
                </div>

                <contact-numbers data="contactCtrl.contactNumbers" high="contactCtrl.showRelation"></contact-numbers>

            </div>

            <div class="col-sm-12">
                <div class="form-group ">
                    <div class="col-md-3 col-sm-2"></div>
                    <crud-buttons-directive close="contactCtrl.handleCloseClick()"
                                            save="contactCtrl.handleSaveClick()"
                                            save-and-close="contactCtrl.handleSaveAndCloseClick()"
                                            is-add-new-tab="contactCtrl.isAddNewTab"
                                            delete="contactCtrl.handleDeleteClick()"
                                            remove-relation="contactCtrl.handleRemoveRelation()"
                                            clear="contactCtrl.handleClearClick()"
                                            hide-save-buttons="contactCtrl.isRelatedContact()"></crud-buttons-directive>
                    <div class="col-md-3 col-xs-2"></div>
                </div>
            </div>
        </fieldset>
    </form>
</section>
