<link rel="stylesheet" href="../main.css">
<style>
    .background{
        background-color:lavenderblush;
        min-height: 100%;
    }
</style>

<div>

    <div class="col-xs-12 background">

    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">

    <h3>Welcome Back</h3>

        <form ng-submit="loginCtrl.handleSubmit()">
            <input class="form-control" placeholder="Username" name="username"
                   type="text" style="cursor: auto;"
                   ng-model="loginCtrl.username"
                    ng-change="loginCtrl.handleUsernameChange()">
            <input class="form-control margin-top-xs" placeholder="Password" name="password"
                   type="password" value="" style="cursor: auto;"
                   ng-model="loginCtrl.password">

            <button class="btn btn-primary margin-top-sm"
                    type="submit"
                    id="submitButton"
                    ng-disabled="loginCtrl.disableSubmitBtn()">
                Login
            </button>
        </form>

    </div>

    </div>
</div>