<div class=" col-md-6 col-sm-8 buttons">
    <div class="content">
        <div class="row">
            <div class="col-sm-3 col-xs-2 text-left">
                <button class="btn btn-primary"
                        type="button"
                        ng-click="doctorCtrl.handleCloseClick()">Close</button>
            </div>

            <div class="text-center col-sm-6 col-xs-8">
                <div class="btn-group">
                    <button class="btn btn-default"
                            type="button"
                            ng-click="doctorCtrl.handleSaveClick()">Save</button>
                    <button class="btn btn-default"
                            type="button"
                            ng-click="doctorCtrl.handleSaveAndCloseClick()">Save & Close</button>
                </div>
            </div>

            <div class="col-sm-3 col-xs-2 text-right">
                <button class="btn btn-danger"
                        type="button"
                        ng-click="doctorCtrl.handleDeleteClick()"
                        ng-hide="doctorCtrl.isAddNewTab">Delete</button>
                <button class="btn btn-default"
                        type="reset"
                        ng-click="doctorCtrl.handleClearClick()"
                        ng-show="doctorCtrl.isAddNewTab">Clear</button>
            </div>
        </div>
    </div>
</div>