<div class=" col-md-6 col-sm-8 buttons">
    <div class="content">
        <div class="row">
            <div class="col-sm-3 col-xs-2 text-left">
                <button class="btn btn-primary"
                        type="button"
                        ng-click="close()">Close</button>
            </div>

            <div class="text-center col-sm-6 col-xs-8">
                <div class="btn-group">
                    <button class="btn btn-default"
                            type="button"
                            ng-click="save()">Save</button>
                    <button class="btn btn-default"
                            type="button"
                            ng-click="saveAndClose()">Save & Close</button>
                </div>
            </div>

            <div class="col-sm-3 col-xs-2 text-right">
                <!-- TODO: consider using ng-if instead -->
                <button class="btn btn-danger"
                        type="button"
                        ng-click="delete()"
                        ng-hide="isAddNewTab">Delete</button>
                <button class="btn btn-default"
                        type="reset"
                        ng-click="clear()"
                        ng-show="isAddNewTab">Clear</button>
            </div>
        </div>
    </div>
</div>