<!--Doctor detail info partial-->
<link rel="stylesheet" href="../main.css">
<style>
    .photo{
        width:1px;
        height:200px;
        border: solid 1px black;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*.design-time-color{*/
        /*background-color:lightgray;*/
    /*}*/
    .related-contacts {
        overflow-y: hidden;
        overflow-x: hidden;
        min-height: 500px;

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 5px solid rgba(213,190,96,0.5);
    }
    .visits{
        overflow-y: hidden;
        overflow-x: hidden;
        min-height: 500px;

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 5px solid rgba(213,190,96,0.5);
    }
    .padding{
        padding: 5px;
    }
</style>

<section class="container padding">

    <!-- form-horizontal makes form-groups behave like grid rows, so no need for .row -->
    <form class="form-horizontal center-block margin-top-sm">
        <fieldset class="container">

            <div class="container">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 personal-data">
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Id</label>
                                <div class=" col-sm-9">
                                    <input class="form-control"
                                           type="text"
                                            ng-model="patientCtrl.patient.childId"
                                            placeholder="child Id"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">First</label>
                                <div class=" col-sm-9">
                                <input class="form-control"
                                       type="text"
                                       ng-model="patientCtrl.patient.firstName"
                                       placeholder="patient's first name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Middle</label>
                                <div class=" col-sm-9">
                                <input class="form-control"
                                       type="text"
                                       ng-model="patientCtrl.patient.middleName"
                                       placeholder="middle name"/>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Last</label>
                                <div class=" col-sm-9">
                                <input class="form-control"
                                       type="text"
                                       ng-model="patientCtrl.patient.lastName"
                                       placeholder="last name"/>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Gender</label>
                                <div class=" col-sm-9">
                                    <select class="form-control"
                                            ng-options="gender.value as gender.label for gender in patientCtrl.genders"
                                            ng-selected="patientCtrl.selectedGender"
                                            ng-model="patientCtrl.selectedGender"
                                            ng-change="patientCtrl.handleGenderSelected()">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 center-block design-time-color">
                            <div class="photo"></div>
                        </div>
                        <div class="col-md-4 col-sm-5 treatment-data">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">Ref Dr</label>

                                <div class="col-sm-9">
                                    <select class="form-control"
                                            ng-options="doctor.value as doctor.label for doctor in patientCtrl.doctors"
                                            ng-selected="patientCtrl.selectedDoctor"
                                            ng-model="patientCtrl.selectedDoctor"
                                            ng-change="patientCtrl.handleDoctorSelected()">
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">Referred</label>
                                <div class="col-sm-9">
                                    <date-picker context='referred' date='patientCtrl.patient.dateReferredToUs'></date-picker>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Deceased</label>
                                <div class="col-sm-9">
                                    <date-picker context='deceased' date='patientCtrl.patient.dateDeceased'></date-picker>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Religion</label>
                                <div class="col-sm-9">
                                    <select class="form-control"
                                            ng-options="religion.value as religion.label for religion in patientCtrl.religions"
                                            ng-selected="patientCtrl.selectedReligion"
                                            ng-model="patientCtrl.selectedReligion"
                                            ng-change="patientCtrl.handleReligionSelected()">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="col-sm-2 from-control" type="checkbox" ng-model="patientCtrl.patient.siblingsWithHartDisease" />Siblings with heart diseases
                            </div>
                            <div class="form-group">
                                <input class="col-sm-2" type="checkbox" ng-model="patientCtrl.patient.parentsRelated" />Parent related
                            </div>

                        </div>
                    </div>
                    <div class="row treatment-data">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Born</label>
                                <div class="col-sm-9">
                                    <date-picker context='birth' date="patientCtrl.patient.birthDate"></date-picker>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 col-xs-12 control-label">Address</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" type="text-area" rows="2" ng-model="patientCtrl.patient.address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12" style="margin-top:5px;">
                            <label class="col-sm-1 col-xs-1">Diagnosis</label>
                            <div class="col-sm-12 col-xs-12">
                                <textarea class="form-control" type="text-area" rows="3" ng-model="patientCtrl.patient.diagnosis"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row related-contacts margin-top-md">
                        <related-contacts-tabs view={{patientCtrl.relatedContactsTabsId()}}
                                               related-contacts="patientCtrl.patient.relatedContacts"
                                               remove-related-contact="patientCtrl.removeRelatedContact(id)"
                                               add-related-contact="patientCtrl.addRelatedContact(contact)"></related-contacts-tabs>

                        <div class="text-center" ng-show="patientCtrl.patient.relatedContacts.length == 0" style="color:lightgray">
                            <p style="font-size:2em" class="disabled">This patient has no related contacts (mother, father, grandfather, etc.)</p>
                            <p>A relation can be added using the "Add Existing" tab</p>
                        </div>
                    </div>

                    <div class="row visits margin-top-sm">
                        <tabset>
                            <tab heading="Visits">
                                <visit-list></visit-list>
                                <div>
                                    <img class="margin-top-md center-block img-responsive" ng-src="/img/comingSoon.jpg">
                                </div>

                            </tab>
                            <tab heading="Add New">
                                <visit-details></visit-details>
                                <img class="margin-top-md center-block img-responsive" ng-src="/img/comingSoon.jpg">
                            </tab>
                        </tabset>
                    </div>
                </form>
            </div>

            <div class="form-group margin-top-md">
                <div class="col-md-3 col-sm-2"></div>
                <crud-buttons-directive close="patientCtrl.handleCloseClick()"
                                        save="patientCtrl.handleSaveClick()"
                                        save-and-close="patientCtrl.handleSaveAndCloseClick()"
                                        is-add-new-tab="patientCtrl.isAddNewTab"
                                        delete="patientCtrl.handleDeleteClick()"
                                        clear="patientCtrl.handleClearClick()"></crud-buttons-directive>

                <div class="col-md-3 col-xs-2"></div>
            </div>

        </fieldset>
    </form>

</section>
