<!--Patients list/table partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.body {*/
    /*background: rgba(213,190,96,0.2);*/
    /*}*/
</style>

<section class="body">

    <table ng-table="tableCtrl.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive hand-on-hover">
        <tr ng-repeat="patient in $data"
            ng-class="{danger: patient._id == tableCtrl.dangerMarkedDocumentId}"
            ng-click="tableCtrl.handleTableRowClicked({data: patient})">
            <td data-title="'Child Id'"
                sortable="'childId'"
                filter="{ 'childId': 'text' }"
                class="col-sm-2">
                {{patient.childId}}</td>
            <td data-title="'First Name'"
                sortable="'firstName'"
                filter="{ 'firstName': 'text' }"
                class="col-sm-2">
                {{patient.firstName}}</td>
            <td data-title="'Middle Name'"
                sortable="'middleName'"
                filter="{ 'middleName': 'text' }"
                class="col-sm-3">
                {{patient.middleName}}</td>
            <td data-title="'Last Name'"
                sortable="'lastName'"
                filter="{ 'lastName': 'text' }"
                class="col-sm-2">
                {{patient.lastName}}</td>
            <td data-title="'Gender'"
                sortable="'gender'"
                filter="{ 'gender': 'text' }"
                class="col-sm-1">
                {{patient.gender}}</td>
            <td data-title="'Born'"
                sortable="'birthDate'"
                filter="{ 'birthDate': 'text' }"
                class="col-sm-2">
                {{patient.birthDate}}</td>
            
            <td class="btn-column">
                <button class="btn btn-default"
                        ng-class="{'btn-danger': patient._id === tableCtrl.dangerMarkedDocumentId}"
                        ng-mouseenter="tableCtrl.handleHoverOverDeleteBtn(patient._id)"
                        ng-mouseleave="tableCtrl.handleHoverOverDeleteBtn(-1)"
                        ng-click="tableCtrl.handleDeleteClick($event, patient, true)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</section>
