<style>
    .tab-icon{
        margin-left: 1em;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <tabset justified="false">
                <tab ng-repeat="tab in tabsCtrl.tabs"
                     active="tab.active"
                     select="tabsCtrl.handleTabSelect(tab)">
                    <!--Different heading depending on tab-type-->
                    <tab-heading>
                        <!--The first tab with the table-->
                        <div ng-show="tab.isFirstTab">
                            {{tab.heading}}
                            <i class="glyphicon glyphicon-list tab-icon"></i>
                        </div>
                        <!--The detail-info tabs-->
                        <div ng-show="!tab.isAddTab && !tab.isFirstTab">
                            {{tab.heading}}
                            <a href=""
                               ng-click="tabsCtrl.handleTabCloseClicked(tab)">
                                <i class="glyphicon glyphicon-remove-circle tab-icon"></i>
                            </a>
                        </div>
                        <!--The Add New Tab-->
                        <div ng-show="tab.isAddTab">
                            {{tab.heading}}
                            <i class="glyphicon glyphicon-plus-sign tab-icon"></i>
                        </div>
                    </tab-heading>

                    <div ng-include="tab.template" ng-show="tab.isFirstTab"></div>

                    <doctor-directive
                            ng-if="!tab.isFirstTab && tabsCtrl.currentList === 'doctors'"
                            doctor-tab="tab"
                            reload-table-needed="tabsCtrl.reloadTableNeeded"
                            handle-tab-close-clicked="tabsCtrl.handleTabCloseClicked(tab, doNotConfirm)"
                            save-and-open-in-tab="tabsCtrl.saveAndOpenInTab(data)"></doctor-directive>

                    <patient-directive
                            ng-if="!tab.isFirstTab && tabsCtrl.currentList === 'patients'"
                            patient-tab="tab"
                            reload-table-needed="tabsCtrl.reloadTableNeeded"
                            handle-tab-close-clicked="tabsCtrl.handleTabCloseClicked(tab, doNotConfirm)"
                            save-and-open-in-tab="tabsCtrl.saveAndOpenInTab(data)"></patient-directive>
                </tab>
            </tabset>
        </div>
    </div>
</div>