<!--Doctor detail info partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.container{*/
        /*background: lightcyan;*/
    /*}*/
</style>

<section class="container">

    <legend>Doctor</legend>
    <div class="row center-block" ng-include="'/home/crudButtons.html'"></div>

    <!--showIsLoading-->
    <div class="is-loading-cover"
         ng-show="vm.showIsLoading">
        <img class="loader-gif center-block" src="/client/img/loader_transparent.gif">
    </div>

    <form class="form-horizontal center-block" ng-submit="vm.handleFormSubmit()">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Name</label>
                <div class="col-md-4">
                    <input id="Name"
                           ng-model="vm.doctor.name"
                           ng-readonly="vm.isReadonly"
                           type="text"
                           placeholder="doctor's full name" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="cellPhone">Cell Phone</label>
                <div class="col-md-4">
                    <input id="cellPhone"
                           ng-model="vm.doctor.cellPhone"
                           ng-readonly="vm.isReadonly"
                           type="text"
                           placeholder="cell phone"
                           class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="OfficePhone">Office Phone</label>
                <div class="col-md-4">
                    <input id="OfficePhone"
                           ng-model="vm.doctor.officePhone"
                           ng-readonly="vm.isReadonly"
                           type="text"
                           placeholder="office phone"
                           class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="officeFax">Office Fax</label>
                <div class="col-md-4">
                    <input id="officeFax"
                           ng-model="vm.doctor.officeFax"
                           ng-readonly="vm.isReadonly"
                           type="text" placeholder="office fax" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="homeFax">Home Fax</label>
                <div class="col-md-4">
                    <input id="homeFax"
                           ng-model="vm.doctor.homeFax"
                           ng-readonly="vm.isReadonly"
                           type="text" placeholder="home fax" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="homePhone">Home Phone</label>
                <div class="col-md-4">
                    <input id="homePhone"
                           ng-model="vm.doctor.homePhone"
                           ng-readonly="vm.isReadonly"
                           type="text" placeholder="home phone" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email"
                           ng-model="vm.doctor.email"
                           ng-readonly="vm.isReadonly"
                           type="text" placeholder="email" class="form-control input-md">

                </div>
            </div>

            <!-- Button -->
            <div class="row form-group">
                <label class="col-md-4 control-label" for="backButton"></label>
                <div class="col-md-4">
                    <button id="backButton" name="backButton" class="btn btn-primary">Back</button>
                </div>
            </div>

        </fieldset>
    </form>

</section>
