<!--Doctor detail info partial-->
<link rel="stylesheet" href="../main.css">
<style>
    /*.container{*/
        /*background: lightcyan;*/
    /*}*/
</style>

<section class="container"
         ng-controller="doctor as vmd">

    <!--<legend>Doctor</legend>-->
    <!--<div class="row center-block" ng-include="'/home/crudButtons.html'"></div>-->

    <!--showIsLoading-->
    <div class="is-loading-cover"
         ng-show="vmd.showIsLoading">
        <img class="loader-gif center-block" src="/client/img/loader_transparent.gif">
    </div>

    <form class="form-horizontal center-block" ng-submit="vm.handleFormSubmit()">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Name</label>
                <div class="col-md-4">
                    <input id="Name"
                           ng-model="vmd.doctor.name"
                           ng-readonly="vmd.isReadonly"
                           type="text"
                           placeholder="doctor's full name" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="cellPhone">Cell Phone</label>
                <div class="col-md-4">
                    <input id="cellPhone"
                           ng-model="vmd.doctor.cellPhone"
                           ng-readonly="vmd.isReadonly"
                           type="text"
                           placeholder="cell phone"
                           class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="OfficePhone">Office Phone</label>
                <div class="col-md-4">
                    <input id="OfficePhone"
                           ng-model="vmd.doctor.officePhone"
                           ng-readonly="vmd.isReadonly"
                           type="text"
                           placeholder="office phone"
                           class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="officeFax">Office Fax</label>
                <div class="col-md-4">
                    <input id="officeFax"
                           ng-model="vmd.doctor.officeFax"
                           ng-readonly="vmd.isReadonly"
                           type="text" placeholder="office fax" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="homeFax">Home Fax</label>
                <div class="col-md-4">
                    <input id="homeFax"
                           ng-model="vmd.doctor.homeFax"
                           ng-readonly="vmd.isReadonly"
                           type="text" placeholder="home fax" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="homePhone">Home Phone</label>
                <div class="col-md-4">
                    <input id="homePhone"
                           ng-model="vmd.doctor.homePhone"
                           ng-readonly="vmd.isReadonly"
                           type="text" placeholder="home phone" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email"
                           ng-model="vmd.doctor.email"
                           ng-readonly="vmd.isReadonly"
                           type="text" placeholder="email" class="form-control input-md">

                </div>
            </div>

            <!-- Buttons -->
            <!--<div class="row form-group">-->
                <!--<label class="col-md-4 control-label" for="backButton"></label>-->
                <!--<div class="col-md-4">-->
                    <!--<button id="backButton" name="backButton" class="btn btn-primary">Back</button>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Buttons -->
            <!-- This label centers the button group on wide screen, when labels move to the left of input boxes -->
            <label class="col-md-4 control-label" for="buttons"></label>
            <div class="form-group" id="buttons">
                <div class="col-md-4">
                    <button class="btn btn-primary" id="backButton" name="backButton"
                            ng-click="vmd.handleCloseClicked()">Close</button>
                    <button class="btn btn-default"
                            ng-click="vmd.handleSaveClicked()">Save</button>
                    <button class="btn btn-default"
                            ng-click="vmd.handleSaveAndCloseClicked()">Save and Close</button>
                    <button class="btn btn-default"
                            ng-click="vmd.handleClearClicked()"
                            ng-show="vmd.isAddNewDoctor">Clear</button>
                </div>
            </div>


        </fieldset>
    </form>

</section>
