<!--Doctors list/table partial-->
<link rel="stylesheet" href="../main.css">
        <style>
            /*.body {*/
                /*background: rgba(213,190,96,0.2);*/
            /*}*/
            .btn-column{
                max-width: 55px;
            }
        </style>

<section class="body"
         ng-controller="DoctorsController as doctorsCtrl">

    <table ng-table="doctorsCtrl.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive">
        <tr ng-repeat="doctor in $data"
            ng-class="{danger: doctor._id == doctorsCtrl.dangerMarkedDocumentId}"
                ng-click="tabsCtrl.handleTableRowClicked(doctor)">
                <td data-title="'Name'"
                    sortable="'name'"
                    filter="{ 'name': 'text' }"
                    class="col-sm-3">
                    {{doctor.name}}</td>
                <td data-title="'Cell Phone'"
                    filter="{ 'cellPhone': 'text' }"
                    sortable="'cellPhone'"
                    class="col-sm-3">
                    {{doctor.cellPhone}}</td>
                <td data-title="'Office Phone'"
                    sortable="'officePhone'"
                    filter="{ 'officePhone': 'text' }"
                    class="col-sm-2">
                    {{doctor.officePhone}}</td>
                <td data-title="'Office Fax'"
                    sortable="'officeFax'"
                    filter="{ 'officeFax': 'text' }"
                    class="col-sm-1">
                    {{doctor.officeFax}}</td>
                <td data-title="'Home Fax'"
                    sortable="'homeFax'"
                    filter="{ 'homeFax': 'text' }"
                    class="col-sm-1">
                    {{doctor.homeFax}}</td>
                <td data-title="'Home Phone'"
                    sortable="'homePhone'"
                    filter="{ 'homePhone': 'text' }"
                    class="col-sm-2">
                    {{doctor.homePhone}}</td>
                <td class="btn-column">
                    <button class="btn btn-default"
                            ng-class="{'btn-danger': doctor._id === doctorsCtrl.dangerMarkedDocumentId}"
                            ng-mouseenter="doctorsCtrl.handleHoverOverDeleteBtn(doctor._id)"
                            ng-mouseleave="doctorsCtrl.handleHoverOverDeleteBtn(-1)"
                            ng-click="doctorsCtrl.handleDeleteClick($event, doctor, true)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
    </table>
</section>
