<!--Doctor detail info partial-->
<link rel="stylesheet" href="../main.css">
<style>
    .margin-top-md{
        margin-top: 25px;
    }
</style>

<section class="container">

    <!-- form-horizontal makes form-groups behave like grid rows, so no need for .row -->
    <form class="form-horizontal center-block margin-top-md" ng-submit="vm.handleFormSubmit()">
        <fieldset class="container">

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="Name">Name</label>
                <div class="col-md-6 col-sm-8">
                    <input id="Name"
                           ng-model="doctorCtrl.doctor.name"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text"
                           placeholder="doctor's full name" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="cellPhone">Cell Phone</label>
                <div class="col-md-6 col-sm-8">
                    <input id="cellPhone"
                           ng-model="doctorCtrl.doctor.cellPhone"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text"
                           placeholder="cell phone"
                           class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="OfficePhone">Office Phone</label>
                <div class="col-md-6 col-sm-8">
                    <input id="OfficePhone"
                           ng-model="doctorCtrl.doctor.officePhone"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text"
                           placeholder="office phone"
                           class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="officeFax">Office Fax</label>
                <div class="col-md-6 col-sm-8">
                    <input id="officeFax"
                           ng-model="doctorCtrl.doctor.officeFax"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text" placeholder="office fax" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="homeFax">Home Fax</label>
                <div class="col-md-6 col-sm-8">
                    <input id="homeFax"
                           ng-model="doctorCtrl.doctor.homeFax"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text" placeholder="home fax" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="homePhone">Home Phone</label>
                <div class="col-md-6 col-sm-8">
                    <input id="homePhone"
                           ng-model="doctorCtrl.doctor.homePhone"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text" placeholder="home phone" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="email">Email</label>
                <div class="col-md-6 col-sm-8">
                    <input id="email"
                           ng-model="doctorCtrl.doctor.email"
                           ng-readonly="doctorCtrl.isReadonly"
                           type="text" placeholder="email" class="form-control input-md">

                </div>
            </div>

            <div class="form-group margin-top-md">
                <div class="col-md-3 col-sm-2"></div>
                    <crud-buttons-directive close="doctorCtrl.handleCloseClick()"
                                            save="doctorCtrl.handleSaveClick()"
                                            save-and-close="doctorCtrl.handleSaveAndCloseClick()"
                                            is-add-new-tab="doctorCtrl.isAddNewTab"
                                            delete="doctorCtrl.handleDeleteClick()"
                                            clear="doctorCtrl.handleClearClick()"></crud-buttons-directive>
                <div class="col-md-3 col-xs-2"></div>
            </div>

        </fieldset>
    </form>

</section>
