<!--Doctors list/table partial-->
<link rel="stylesheet" href="../main.css">
        <style>
            /*.body {*/
                /*background: rgba(213,190,96,0.2);*/
            /*}*/
        </style>

<section class="body"
         ng-controller="doctors as vmDoctors">

    <!--showIsLoading-->
    <div class="row"
         ng-include="'/loadingCover/loadingCover.html'"
         ng-show="vmDoctors.showIsLoading">
    </div>

    <table ng-table="vmDoctors.table"
           show-filter="true"
           class="table table-bordered table-hover table-striped table-responsive">
        <tr ng-repeat="doctor in $data"
            ng-class="{danger: doctor._id == vmDoctors.dangerMarkedDocumentId}"
                ng-click="vm.handleTableRowClicked(doctor)">
                <td data-title="'Name'"
                    sortable="'name'"
                    filter="{ 'name': 'text' }"
                    class="col-sm-3">
                    {{doctor.name}}</td>
                <td data-title="'Cell Phone'"
                    filter="{ 'cellPhone': 'text' }"
                    sortable="'cellPhone'"
                    class="col-sm-2">
                    {{doctor.cellPhone}}</td>
                <td data-title="'Office Phone'"
                    sortable="'officePhone'"
                    filter="{ 'officePhone': 'text' }"
                    class="col-sm-2">
                    {{doctor.officePhone}}</td>
                <td data-title="'Office Fax'"
                    sortable="'officeFax'"
                    filter="{ 'officeFax': 'text' }"
                    class="col-sm-1">
                    {{doctor.officeFax}}</td>
                <td data-title="'Home Fax'"
                    sortable="'homeFax'"
                    filter="{ 'homeFax': 'text' }"
                    class="col-sm-1">
                    {{doctor.homeFax}}</td>
                <td data-title="'Home Phone'"
                    sortable="'homePhone'"
                    filter="{ 'homePhone': 'text' }"
                    class="col-sm-1">
                    {{doctor.homePhone}}</td>
                <td data-title="'Email'"
                    sortable="'email'"
                    filter="{ 'email': 'text' }"
                    class="col-sm-2">
                    {{doctor.email}}</td>
                <td>
                    <button class="btn btn-default "
                            ng-class="{'btn-danger': doctor._id == vmDoctors.dangerMarkedDocumentId}"
                            ng-mouseover="vmDoctors.handleHoverOverDeleteBtn(doctor._id)"
                            ng-mouseleave="vmDoctors.handleHoverOverDeleteBtn(-1)"
                            ng-click="vmDoctors.handleDeleteClick($event, doctor)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
    </table>
</section>
